@import "../../../../../styles/mixins";

.form {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F3F4;
  border-radius: 16px;
  padding: rem(40) rem(55);
  @media screen and (max-width: 1200px) {
    width: 50%;
    padding: rem(40) rem(35);
  }
  @media screen and (max-width: 992px) {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    padding: rem(30) rem(25);
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../../../../../assets/img/our_team/form_vectors.svg")no-repeat top / cover;
    width: 82.39px;
    height: 102.38px;
    transform: translate(30%, -30%);
  }
  h3 {
    text-transform: capitalize;
    color: #222433;
  }
  .input_wrapper {
    width: 100%;
    text-align: center;
    .error {
      color: crimson;
      font-size: rem(10);

    }
    input {
      background: #FFFFFF;
      border-radius: 40px;
      border: none;
      width: 100%;
      padding: rem(17) 0 rem(17) rem(27);
      &:focus {
        outline: none;
      }
    }
    &:nth-child(2) {
      margin-top: rem(35);
    }
    &:nth-child(3) {
      margin-top: rem(15);
    }
  }
  .btn_book {
    margin-top: rem(32);
    width: 100%;
    padding: rem(17) 0;
    background: #F2726C;
    border-radius: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(13);
    letter-spacing: 1px;
    transition: 0.5s;
    &:hover {
      background: #000000;
    }
    &:active {
      background: #222433;
    }
    &:disabled {
      background-color: #000000;
      opacity: 0.2;
      pointer-events: none;
      touch-action: none;
    }
  }
}
